{# app/Resources/views/login.html.twig #}
{% extends 'base/base.loggedIn.html.twig' %}

{% block title %}
    Make Reservation
{% endblock %}

{% block content %}
 <h1>Make Reservation</h1>
	<p>
		<table style="width:100%">
		  <tr>
			<td>Train (Train Number)</td>
			<td>Time (Duration)</td>
			<td>Departs From</td>
			<td>Arrives At</td>
			<td>Class</td>
			<td>Price</td>
			<td># of Baggage</td>
			<td>Passenger Name</td>
			<td></td>
		  </tr>
			{% for row in tickets %}
				<tr>
					<form action="/removeTicket" method="post" novalidate>
						<td>Train {{ row['trainNumber'] }}<input hidden type="text" name="trainNumber" value="{{ row['trainNumber'] }}"></td>
						<td>Departs {{ row['date'] }}<br>{{ row['time'] }} <br> {{ row['duration'] }}</td>
						<td>{{ row['departsFrom'] }}</td>
						<td>{{ row['arrivesAt'] }}</td>
						<td>{{ row['class'] }}</td>
						<td>{{ row['price'] }}</td>
						<td>{{ row['bags'] }}</td>
						<td>{{ row['passenger'] }}</td>
						<td><button type="submit" class="btn btn-default">Remove</button ></td>
					</form>
				</tr>
			{% endfor %}
		</table>
	</p>
	<p>
		Total Cost: {{ totalCost }}
	</p>
	<form action="/makeReservation" method="post" novalidate>
		<p>

			Use Card:
			<select name="cardNumber">
				{% for card in cards %}
					<option value="{{ card[0] }}">{{ card[0] }}</option>
				{% endfor %}
			</select>
			<a style="font-size:12px" href = "paymentInfo">Add Card</a>
		</p>
		<p>
			<a style="font-size:12px" href = "/reservation/searchTrain">Continue Adding a Train</a>
		</p>
		<button type="submit" class="btn btn-default" {% if cards|length < 1 %} disabled{% endif %}>Submit</button >
	</form>
<br>
<br>
{% endblock %}